<?xml version="1.0" encoding="utf-8"?>
<menu>
    <recept autor_článku='Marvin'>
        <informace>
            <název>
            </název>
            <doba_přípravy>89</doba_přípravy>
            <obtížnost>
            </obtížnost>
        </informace>
        <ingredience>
            <položka>
            </položka>
        </ingredience>
        <postup>
        </postup>
    </recept>
</menu>
