body {
  font-family: sans-serif;

  background-color: #044;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  /* width: 100%; */
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid thistle;
}

th,
td {
  padding: 8px;
  text-align: left;
}
