services:
  cpp-dev:
    build: .
    container_name: cpp-dev-container
    volumes:
      - ./src:/src
    stdin_open: true
    tty: true
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    ports:
      - '2345:2345' # GDB server port for remote debugging
